<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jdk1.8/src/com/sun/zq/clockPackage/ClockMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sun.zq.clockPackage.ClockMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jdk1.8"/>
</launchConfiguration>
